extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Sherri Holmes
        p Full Stack JavaScript Developer


        .about-bio
          p As a teacher of 15 years, problem solving and teamwork come naturally to me. Bring me your projects and I will put forth my enthusiastic work ethic, along with my organization and energy to build the best, most efficient technology. When I'm not learning about different creative ways to creat and use technology, or developing fun, efficient technology tools, you can find me travelling with my husband and two daughters. If we are not travelling, we are definitely outdoors with our cocker spaniel Lilly!


      .skills-contact-box.box
        h3 Tech/People Skills
        ul
          li JavaScript
          li CSS
          li HTML
          li Express
          li Node.js
          li REST/Fetch/Public APIs
          li VS Code
          li Object Oriented Programming
          li Pug
          li Git/GitHub
          li Problem Solver, Collaborator, Ambitious, Thorough

        h6 Contact Me:
        
            ul
              li slpholmestech@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/sherripascale-holmes/' target="blank") LinkedIn
        a.btn-link(href='https://github.com/pholmess' target="blank") GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back