extends layout.pug

block content
  div.container
    h1= `Server Error`
    h2= `Error status code: ${err.status} - Server Error`
    p.error-p= `It's not you...: ${err.message}`

    a.home(href=`/`) Back Home